# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages for Data Science
- List of popular libraries for Data Science
- List of tools

Some of the popular languages that Data Scientists use are:
1. python
1. R
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. SciPy
1. NumPy

## Data Science Tools

| Data Science Tools | 
|:--------:|
|  Jupyter   |
|  Apache Hadoop   |
|  Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ferdinand Martinus